<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Meme Thingy</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main>
    <form id="searchForm" method="get" action="/searches">

      <button id="butt1" type="submit">Search All Memes</button><br>

    </form>
    <form id="fav" method="get" action="/fav">
      <button type="submit"></button>
    </form>
  </main>


  <%- include('../partials/footer') %>
</body>

</html>