<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript"
    src="https://platform-api.sharethis.com/js/sharethis.js#property=5ec04aba8afab1001288f702&product=inline-share-buttons"
    async="async"></script>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Meme-Maker</title>
</head>