<form id="searchForm" method="get" action="/searches">
  <input id="input1" name="name" placeholder="Enter a concept">
  <button id="butt1" type="submit">Search All Memes</button>
</form>
<form id="searchForm" method="get" action="/gif">
  <input id="input1" name="gifSearch" placeholder="enter giph">
  <button id="butt1" type="submit">Search Giphs</button>
</form>