<main>
  <form id="searchForm" method="get" action="/searches">
    <input id="input1" name="name" placeholder="Enter a concept">
    <button id="butt1" type="submit">Search All Memes</button><br>

  </form>
  <form id="fav" method="get" action="/fav">
    <button type="submit"></button>
  </form>
</main>