<!DOCTYPE html>
<html>



<%- include('../pages/partials/head') %>


<body>
  <%- include('../pages/partials/header') %>
  <div id="aboutFlex">
    <img class="aboutUs" src="./styles/images/austin.png">
    <img class="aboutUs" src="./styles/images/will.png">
    <img class="aboutUs" src="./styles/images/nat.png">
    <img class="aboutUs" src="./styles/images/les.png">
    <img class="aboutUs" src="./styles/images/lami.png">
  </div>
  <div id="aboutFlex1">
    <p class="aboutUs1">Hi, my name is Austin and I like to fish!</p>
    <p class="aboutUs1">Hi, my name is Will. I am a magician. I was in the military for 7 years as paratrooper. For the
      last 6 years I have been working supply chain distribution. I gotten in to coding after taking a 101 class at Code
      Fellows and I have been hooked ever since. My goal is after completing Code Fellows is to land a my first job as a
      coder and began my new career. </p>

    <p class="aboutUs1">I currently work for Tesla and as a “software company that decided to build a car” I work a lot
      with code. I came here to Code Fellows to grow the new found spark and grow that spark into something bigger.
      <a>www.linkedin.com/in/nataliesinner</a></p>

    <p class="aboutUs1">Hi, my name is Leslie and my son recently had a birthday!</p>
    <p class="aboutUs1">Hi, I'm Lami and flexbox is awesome.</p>
  </div>
</body>


<%- include('../pages/partials/footer') %>

</html>