<!DOCTYPE html>
<html>



<%- include('../pages/partials/head') %>


<body>
  <%- include('../pages/partials/header') %>
  <div id="aboutFlex">
    <img class="aboutUs" src="./styles/images/austin.png">
    <img class="aboutUs" src="./styles/images/will.png">
    <img class="aboutUs" src="./styles/images/nat.png">
    <img class="aboutUs" src="./styles/images/les.png">
    <img class="aboutUs" src="./styles/images/lami.png">
  </div>
  <div id="aboutFlex1">
    <p class="aboutUs1">My name is Austin Smith.
      My inspiration for software development was spurred by a desire to create something out of nothing.
      I hope to one day use my experiences from CodeFellows to program robotic prostheses.
      <a>https://www.linkedin.com/in/smithaustin97/</a></p>

    <p class="aboutUs1">Hi, my name is Will. I am a magician. I was in the military for 7 years as paratrooper. I gotten in to coding after taking a 101 class at Code
      Fellows. My goal is after completing Code Fellows is to land a my first job as a
      coder and began my new career. 
      <a>www.linkedin.com/in/nataliesinner</a></p>

    <p class="aboutUs1">Hi, my name is Natalie. I currently work for Tesla and as a “software company that decided to build a car” I work a lot
      with code. I came here to Code Fellows to grow the new found spark and grow that spark into something bigger.<br>
      <a>www.linkedin.com/in/nataliesinner</a></p>

    <p class="aboutUs1">Hi, my name is Lesley. I'm An adventurous introvert pursuing my passion for code. I'm happily married and mother of two handsome, full of energy boys. When I'm not stuck on my computer coding I'm out hiking, trying new places to eat, or in my garage getting my CrossFit on.
      <a>https://www.linkedin.com/in/lesleyrivera1208/</a> </p>

    <p class="aboutUs1">Hello, my name is Lami Beach. I was originall in the film industry and transitioned into programming. My dream job is to work with video games. In just about any way, shape, or form. I enjoy them because they give me a sense of freedom.
      <a>https://www.linkedin.com/in/lami-beach-344a1a176/</a> </p>
  </div>
  <%- include('../pages/partials/footer') %>
</body>



</html>