<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Meme Thingy</title>
</head>

<%- include('../pages/partials/header') %>


<body>
  <div id="aboutFlex">
    <img class="aboutUs" src="./styles/images/austin.png">
    <img class="aboutUs" src="./styles/images/will.png">
    <img class="aboutUs" src="./styles/images/nat.png">
    <img class="aboutUs" src="./styles/images/les.png">
    <img class="aboutUs" src="./styles/images/lami.png">
  </div>
  <div id="aboutFlex1">
    <p class="aboutUs1">Hi, my name is Austin and I like to fish!</p>
    <p class="aboutUs1">Hi, my name is Will and I own a sweet pair of lapelles</p>
    <p class="aboutUs1">Hi, my name is Natalie and I work for Tesla</p>
    <p class="aboutUs1">Hi, my name is Leslie and my son recently had a birthday!</p>
    <p class="aboutUs1">Hi, I'm Lami and flexbox is awesome.</p>
  </div>
</body>


<%- include('../pages/partials/footer') %>

</html>