<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>

  <%- include('../pages/partials/header') %>

  <main>
    <img src="" alt="">
    <p>YOU HAVE REACHED THIS PAGE IN AN ERROR</p>
  </main>

  <%- include('../pages/partials/footer') %>

</body>

</html>