<!DOCTYPE html>
<html>

<%- include('../pages/partials/head') %>

<body>

  <%- include('../pages/partials/header') %>

  <main>
    <%- include('../pages/partials/search') %>

    <div>
      <p>YOU HAVE REACHED THIS PAGE IN AN ERROR</p>
    </div>

  </main>

  <%- include('../pages/partials/footer') %>

</body>

</html>