<!DOCTYPE html>
<html>

<%- include('../pages/partials/head') %>

<body>

    <%- include('../pages/partials/header') %>

    <%- include('../pages/partials/search') %>

    <%- include('../pages/partials/footer') %>
</body>

</html>