<!DOCTYPE html>
<html>

<%- include('../pages/partials/head') %>

<body>
    <%- include('../pages/partials/header') %>
    <main>
        <%- include('../pages/partials/search') %>
    </main>
    <%- include('../pages/partials/footer') %>
</body>

</html>