<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Meme Thingy</title>
</head>
<%- include('../pages/partials/header') %>

<body>
    <main>
        <img src="<%= memes.url %>" alt="meme">
    </main>

    <%- include('../pages/partials/footer') %>
</body>

</html>