*{
    box-sizing: border-box;
    font-family: fantasy;
}
html{
    height:100%;
}
body{
    height:100%;
}

 header{
    padding:auto;
    text-align:center;
    font-size: 3rem;
    background-color: #a3b4a2;
    
} 
 main{
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/1/ce/wallpaper-background-4k-ultra-hd-blur-bokeh-rubber-duck-duck.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 

.errorMain img{
    margin: 1em;
}

.errorMain p{
    color: black;
    text-align: left;
}


 body{
    background-color: #cdc6ae;
}

.container{
    padding:auto;
    margin-top: 50px;
}

a{
    color:#38686a;
    padding:5px;
}


li{
    text-align: center;
    margin: auto;
    padding:auto;
    color:white;
    background-color: black;
}

section{
    text-align: center;
    padding: auto;
    padding-top: 20px;
    margin:auto;
}


#butt1{
    background-color: black;
    color: white;
}

#butt1:hover{
    transition: 300ms;
    background-color: burlywood;
    transform: scale(1.1, 1.1);
}


#caption{
    background-color: black;
    color: white;
}




#input{
    font-size: large;
    text-align: center;
    background-color: #a3b4a2;
    color:black;
    margin: auto;
    margin-top: 5%;
    animation-name: colors;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transition: ease-in;
}

@keyframes colors{
    0%{
        background-color: rgb(164,180,162);
    }
    50%{
        background-color: rgba(167, 145, 104, 0.685);
    }
    100%{
        background-color: rgb(164,180,162);
    }
}



.open:hover{
    transform: rotate(360deg);
    transition: 400ms;
    text-transform: uppercase;
    transition-duration: infinite;
}


#saveForm{
    overflow: auto;
}



#butt2{
    background-color: black;
    color: white;
    margin: auto;
}

.aboutUs1{
    background-color: #a3b4a2;
    text-align: center;
    font-size: large;
    padding-top:3rem;
}

#aboutFlex{
    background-color: #38686a;
    padding:10px;
    margin-top:48px;
}    


#footer{
    margin: auto;
    padding:auto;
    padding-top:120px;
    text-align:center;
}



.aboutUs{
    padding: 2rem;
    margin: auto;
    margin-top: 2rem;
}

.aboutUs1{
    padding: 2rem;
    margin: auto;
}
